/* Estilo da barra de menu vertical */
.menu-vertical {
  font-family: Arial, sans-serif; /* Define a família da fonte */
  font-size: 17px; /* Corrigido: removido o ponto extra */
  position: fixed; /* Fixa o menu à esquerda */
  top: 0;
  left: 0;
  width: 230px; /* Largura da barra */
  height: 100%; /* Ocupa toda a altura da janela */
  background: #5e8b73;
  padding: 10px; /* Reduz o espaçamento interno */
  display: flex; /* Organiza o layout interno */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: center; /* Centraliza horizontalmente os itens */
  overflow: hidden; /* Remove o scroll */
  z-index: 1000; /* Garante que o menu esteja acima de outros elementos */

  .img-l {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

/* Estilo dos links no menu */
.menu-vertical ul {
  list-style: none; /* Remove as bolinhas da lista */
  padding: 0;
  margin: 0;
  width: 100%; /* Garante que os itens ocupem toda a largura do menu */
}

.menu-vertical ul li {
  margin-bottom: 8px; /* Reduz o espaço entre os itens */
}

.menu-vertical ul li a {
  display: block; /* Ocupa toda a largura do item */
  text-decoration: none; /* Remove o sublinhado */
  color: white;
  padding: 8px 12px; /* Reduz o padding interno */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Animação ao passar o mouse */
  text-align: center; /* Centraliza o texto e os ícones */
  font-weight: bold;
}

.menu-vertical ul li a:hover,
.menu-vertical ul li a.active {
  background-color: #55555560; /* Cor ao passar o mouse ou página ativa */
}

/* Estilo do campo de pesquisa */
.search-bar-container {
  display: flex; /* Organiza o campo e o botão na mesma linha */
  align-items: center; /* Alinha verticalmente */
  width: 100%; /* Ocupa toda a largura disponível */
  margin-bottom: 15px; /* Espaçamento abaixo do container */
}

.search-bar {
  flex: 1; /* O campo ocupa todo o espaço restante */
  padding: 8px; /* Mantém o padding original */
  border: none;
  border-radius: 5px 0 0 5px; /* Bordas arredondadas apenas no lado esquerdo */
  outline: none;
  font-size: 14px; /* Mantém a fonte original */
  margin-bottom: 20px;
}

/* Estilo dos resultados */
#results {
  margin-top: 20px;
}

#results div {
  font-size: 16px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin: 5px 0;
}

button[type="submit"] {
  padding: 6.4px; /* Ajuste no padding */
  background-color: #ccee8d;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0; /* Bordas arredondadas apenas no lado direito */
  cursor: pointer;
  font-size: 14px; /* Mantém a fonte original */
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-vertical {
    width: 150px; /* Reduz a largura em telas menores */
    padding: 5px; /* Reduz o espaçamento interno */
  }

  body {
    background-color: #ccee8d;
    margin-left: 150px; /* Ajusta o deslocamento do conteúdo */
  }
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #5e8b73 20%, #ccee8d 100%);
  margin-left: 250px; /* Espaço à esquerda do conteúdo para não sobrepor o menu */
  padding: 0; /* Removido o padding default */
}

.conteudo {
  padding: 20px; /* Espaçamento interno do conteúdo */
  background-color: white; /* Fundo do conteúdo, opcional */
  border: 1px solid #ccc; /* Adiciona uma borda para separação, opcional */
  border-radius: 5px; /* Bordas arredondadas, opcional */
}

.footer {
  background-color: #446453;
  color: white; /* Texto branco para contraste */
  padding: 20px 0; /* Espaçamento interno */
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex; /* Layout flexível */
  flex-wrap: wrap; /* Ajusta em telas menores */
  align-items: flex-start; /* Alinha no topo */
  max-width: 1200px; /* Largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 0 20px; /* Espaçamento horizontal */
}

.footer-section {
  flex: 1; /* Permite que as seções ocupem espaços iguais */
  margin: 10px;
  padding: 10px;
  min-width: 200px; /* Largura mínima para evitar colapsos */
}

.footer-section h3,
.footer-section h4 {
  text-align: left; /* Garante alinhamento à esquerda */
  font-size: 18px; /* Tamanho do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
  font-weight: bold; /* Texto em negrito */
}

.footer-section ul {
  list-style: none; /* Remove marcadores */
  padding: 0;
  margin: 0;
  text-align: left; /* Alinha itens à esquerda */
}

.footer-section ul li {
  margin-bottom: 8px; /* Espaçamento entre itens */
}

.footer-section ul li a {
  text-decoration: none; /* Remove sublinhado */
  color: white;
  transition: color 0.3s ease; /* Transição suave */
}

.footer-section ul li a:hover {
  color: #ccee8d; /* Cor clara ao passar o mouse */
}

.footer h3,
.footer h4 {
  text-align: left; /* Garante alinhamento à esquerda */
  font-size: 18px; /* Tamanho do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
  font-weight: bold; /* Texto em negrito */
}

.footer p,
.footer ul {
  font-size: 14px; /* Tamanho do texto */
  line-height: 1.6; /* Altura da linha */
}

.footer ul {
  list-style: none; /* Remove marcadores */
  padding: 0;
  margin: 0;
  text-align: left; /* Alinha itens à esquerda */
}

.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  text-decoration: none; /* Remove sublinhado */
  color: white;
  transition: color 0.3s ease; /* Transição suave */
}

.footer ul li a:hover {
  color: #ccee8d; /* Cor clara ao passar o mouse */
}

.footer-bottom {
  text-align: center; /* Centraliza o texto */
  font-size: 12px; /* Texto menor */
  margin-top: 20px;
  border-top: 1px solid #ffffff33; /* Linha separadora */
  padding-top: 10px; /* Espaçamento acima */
}

/* Estilos para o Modal */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn-sim {
  background-color: #28a745;
  color: white;
}

#btn-nao {
  background-color: #dc3545;
  color: white;
}

#btn-sim:hover,
#btn-nao:hover {
  opacity: 0.9;
}

/* Estilo do botão fixo */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to right, #558068 20%, #8aa15e 100%);
  color: white;
  border: none;
  border-radius: 35%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.scroll-to-top-btn:hover {
  background: linear-gradient(to right, #558068 20%, #8aa15e 100%);
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-photo img {
  border-radius: 50%;
  border: 2px solid #ddd;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-photo input {
  display: block;
  font-size: 14px;
  padding: 5px;
}

.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-details label {
  font-weight: bold;
}

.profile-details input,
.profile-details textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.profile-details textarea {
  resize: none;
  height: 100px;
}

.profile-details button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.profile-buttons {
  display: flex;
  gap: 10px;
}

.profile-buttons button {
  flex: 1;
}

#saveBtn {
  width: 100px;
  padding: 10px;
  background-color: #5e8b73;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveBtn:hover {
  background-color: #446453;
}

#clearBtn {
  width: 100px;
  padding: 10px;
  background-color: #5e8b73;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clearBtn:hover {
  background-color: #446453;
}

/* Contador de caracteres */
#bioCounter {
  font-size: 12px;
  color: #888;
  margin-top: -5px;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.galeria-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.galeria-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galeria-item:hover img {
  transform: scale(1.1);
}

.galeria-modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.galeria-modal img {
  max-width: 90vw; /* Largura máxima da imagem é 90% da viewport */
  max-height: 90vh; /* Altura máxima da imagem é 90% da viewport */
  display: block; /* Garante que a imagem seja exibida como um bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente no modal */
  object-fit: contain; /* Mantém a proporção da imagem */
  border-radius: 10px;
}

/* Botão de fechar o modal (X) */
.galeria-modal::before {
  content: "✖";
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

.galeria-modal::before:hover {
  color: #ccee8d;
}

.galeria-modal.close {
  display: none;
}
.galeria-modal div {
  text-align: center;
  color: white;
}

.galeria-modal p {
  margin: 10px 0;
  font-size: 18px;
}

/* Estilos dos Resultados */
.result-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-item:hover {
  background-color: #f9f9f9;
}

.result-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.result-item p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.galeria-modal.show {
  display: flex;
  opacity: 1;
}

.galeria-modal.hide {
  opacity: 0;
}

.favoritar-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.favoritar-btn:hover {
  background-color: #ffaa00;
}
.remover-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.remover-btn:hover {
  background-color: darkred;
}

/* Tema Escuro */
body.dark-theme {
  background: linear-gradient(to right, #392455 20%, #8a45d4 100%);
  color: #f0f0f0;
}

body.dark-theme .menu-vertical {
  background: #392455;
}

body.dark-theme .menu-vertical ul li a {
  color: #ddd;
}

body.dark-theme .menu-vertical ul li a:hover,
body.dark-theme .menu-vertical ul li a.active {
  background-color: #5d3a7e60;
}

body.dark-theme .conteudo {
  background-color: #3d2f66;
  color: #eee;
  border: 1px solid #5d3a7e;
}

body.dark-theme .footer {
  background-color: #442f61;
  color: #ddd;
}

body.dark-theme .footer ul li a {
  color: #aaa;
}

body.dark-theme .footer ul li a:hover {
  color: #e0b3ff;
}

/* Outros estilos específicos para o tema escuro podem ser adicionados aqui */

/* Estilo para tema escuro */
body.dark-theme button[type="submit"] {
  padding: 6.4px; /* Ajuste no padding */
  background-color: #503066; /* Roxo escuro para tema dark */
  color: white; /* Cor do texto branco para contraste */
  border: none; /* Remove borda */
  border-radius: 0 5px 5px 0; /* Bordas arredondadas no lado direito */
  cursor: pointer; /* Indica botão clicável */
  font-size: 14px; /* Tamanho da fonte */
  transition: all 0.3s ease; /* Transição suave para todas as propriedades */
}

body.dark-theme button[type="submit"]:hover {
  background-color: #784799; /* Roxo mais claro ao passar o mouse */
}

body.dark-theme button[type="submit"]:focus {
  outline: 2px solid #bb89d6; /* Destaque com um tom de roxo mais claro */
  outline-offset: 2px;
}

body.dark-theme button[type="submit"]:disabled {
  background-color: #322244; /* Roxo bem escuro para desativado */
  color: #888; /* Cinza claro para texto desativado */
  cursor: not-allowed; /* Indicador de botão desativado */
}

body.dark-theme .profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  background-color: #583869;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body.dark-theme .profile-details input,
.profile-details textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #442853;
  border-radius: 5px;
}

body.dark-theme .profile-details button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4e2863;
  color: #fff;
  cursor: pointer;
}

body.dark-theme #saveBtn {
  width: 100px;
  padding: 10px;
  background-color: #835d9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-theme #saveBtn:hover {
  background-color: #67487c;
}

body.dark-theme #clearBtn {
  width: 100px;
  padding: 10px;
  background-color: #835d9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-theme #clearBtn:hover {
  background-color: #67487c;
}

body.dark-theme #bioCounter {
  font-size: 12px;
  color: #c8a4d1;
  margin-top: -5px;
}

body.dark-theme .footer-bottom a {
  color: #d289e9;
}

/* Estilo do botão fixo */
body.dark-theme .scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to right, #533779 20%, #7239af 100%);
  color: white;
  border: none;
  border-radius: 35%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

body.dark-theme .scroll-to-top-btn:hover {
  background: linear-gradient(to right, #5c3a88 20%, #9c4fee 100%);
}

/* Modal */
.galeria-modal-foto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-foto {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.modal-content-foto label {
  display: block;
  margin-top: 10px;
}

.modal-content-foto input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.modal-content-foto button {
  margin-top: 15px;
  padding: 10px 20px;
}

/* Botão "Inserir Fotografia" */
#btn-publicar, #btn-inserir-foto {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#btn-publica:hover {
  background: #45a049;
}

#btn-fechar-modal {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#btn-fechar-modal:hover {
  background: #45a049;
}

